/* Heading */

body {
  text-align: center;
  /* background-color: #dddddd; */
  background-color: #1b1717;
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-weight: 500;
  /* margin: 50px auto 50px; */
}

h1, h2, h3, h4, h5, p, div, a {
  color: #eeebdd;
}

.container.exterior {
  margin: 1rem auto;
  width: 75%;
  background-color: #252525;
  border-radius: 1rem;
  padding: 0;
}

/* Presentation */

#presentation {
  padding: 2rem;
}

.profile-photo {
  height: 200px;
  width: 180px;
  border-radius: 100%;
  float: right;
  margin: 50px;

  /* margin: 2rem 2rem auto; */
}

.hello {
  font-weight: 900;
  text-align: left;
  margin: 80px 0 0 80px;
}

.im {
  font-weight: 500;
  text-align: left;
  margin: 10px 0 0 80px;
}

.resumen {
  text-align: left;
  margin: 100px 0 40px 80px;
  width: 70%;
}

/* Educación */

#education {
  background-color: #1b1717;
  padding: 50px 0;
}

/* .education-header {
  font-weight: 500;
  margin: 0 auto 50px;
} */

#education .container .container {
  width: 80%;
  background-color: #1b1717;
  margin: 50px auto;
}

.col {
  margin: 5px 0;
}

.date-col {
  text-align: right;
}

.edu-col {
  text-align: left;
}

/* Seminarios */

#seminarios {
  padding: 50px 0;
}

#seminarios .container .container {
  width: 80%;
  background-color: #252525;
  margin: 50px auto;
}

/* Experiencia Laboral */

#work-experience {
  background-color: #1b1717;
  padding: 50px 0;
}

#work-experience .container .container {
  width: 80%;
  background-color: #1b1717;
  margin: 50px auto;
}

/* Publicaciones */

#publications {
  padding: 50px 0;
  text-align: center;
}

.more {
  font-size: 1.5rem;
  margin: 50px 180px 10px;
  font-weight: 900;
  text-align: left;
  display: block;
}

.more:hover {
  color: white;
  text-decoration: none;
}

#publications h5 {
  margin: 0 220px 20px 180px;
  text-align: left;
}

#publications p {
  margin: 10px 220px 10px 180px;
  text-align: left;
}

/* .carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators{
  filter: invert(1);
} */

.carousel-item {
  height: 400px;
}


/* Lenguas */

#languages {
  background-color: #1b1717;
  padding: 50px 0;
}

#languages .container .container {
  width: 80%;
  background-color: #1b1717;
  margin: 50px auto 10px;
}

/* Habilidades computacionales */

#abilities {
  padding: 50px 0;
  text-align: center;
}

.abilities-ico {
  margin: 3rem 1.5rem 0;
}

.fa-python:hover {
  color: #3675a5
}

.fa-js-square:hover {
  color: #f7df1e
}

.fa-java:hover {
  color: #f89a17;
}

.fa-file-excel:hover {
  color: #007139;
}

.fa-bootstrap:hover {
  color: #7952b3;
}

.fa-html5:hover {
  color: #f16524;
}

.fa-css3-alt:hover {
  color: #2965f1;
}


/* Contacto */

#contactme {
  background-color: #1b1717;
  padding: 50px 80px;
  text-align: center;
}

.contact-header {
  text-align: center;
  margin-bottom: 40px;
}

#contactme h4 {
  text-align: left;
}

#contactme p  {
  text-align: left;
}

.contact-ico {
  margin: 2rem 1rem;
  color: #bbbbbb;
}

.contact-ico:hover {
  color: #eeebdd;
  text-decoration: none;
}

/* #contactme p {
  width: 80%;
} */

/* Footer */

#footer {
  color: #eeebdd;
  margin: 1.5rem auto;
}
