/* Heading */

body {
  text-align: center;
  background-color: #dddddd;
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-weight: 500;
  /* margin: 50px auto 50px; */
}

.container.exterior {
  margin: 1rem auto;
  width: 75%;
  background-color: #f9f3f3;
  border-radius: 1rem;
  padding: 0;
}

/* Presentation */

#presentation {
  padding: 2rem;
}

.profile-photo {
  height: 200px;
  width: 180px;
  border-radius: 100%;
  float: right;
  margin: 50px;

  /* margin: 2rem 2rem auto; */
}

.hello {
  font-weight: 900;
  text-align: left;
  margin: 80px 0 0 80px;
}

.im {
  font-weight: 500;
  text-align: left;
  margin: 10px 0 0 80px;
}

.resumen {
  text-align: left;
  margin: 100px 0 40px 80px;
  width: 70%;
}

/* Educación */

#education {
  background-color: white;
  padding: 50px 0;
}

/* .education-header {
  font-weight: 500;
  margin: 0 auto 50px;
} */

#education .container .container {
  width: 80%;
  background-color: white;
  margin: 50px auto;
}

.col {
  margin: 5px 0;
}

.date-col {
  text-align: right;
}

.edu-col {
  text-align: left;
}

/* Seminarios */

#seminarios {
  padding: 50px 0;
}

#seminarios .container .container {
  width: 80%;
  background-color: #f9f3f3;
  margin: 50px auto;
}

/* Experiencia Laboral */

#work-experience {
  background-color: white;
  padding: 50px 0;
}

#work-experience .container .container {
  width: 80%;
  background-color: white;
  margin: 50px auto;
}

/* Publicaciones */

#publications {
  padding: 50px 0;
}

#publications h4{
  margin: 50px 180px 10px;
  font-weight: 900;
  text-align: left;
}

#publications h5 {
  margin: 0 220px 20px 180px;
  text-align: left;
}

#publications p {
  margin: 10px 220px 10px 180px;
  text-align: left;
}

.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators{
  filter: invert(1);
}

.more {
  position: absolute;
  bottom: 60px;
  right: 180px;
  color: #212529;
  /* margin-right: 180px; */
}

.more:hover {
  color: black;
}

.carousel-item {
  height: 400px;
}
